*{
  --f7-page-bg-color: #F2FAFD;
  --f7-text-color: #262626;
  --f7-font-size: 16px;
  --f7-line-height: 20px;
  letter-spacing: -0.3px;
  --f7-theme-color: #3785ED;
  --f7-button-text-transform: none;
  --f7-button-small-text-transform: none;
  --f7-button-font-weight: 700;
  --f7-button-small-font-weight: 700;
  list-style-type: none;
  --f7-bars-bg-color: #fff;
  --f7-bars-translucent-opacity: 1;
  --f7-bars-translucent-blur: 0px;
  --f7-button-font-size: 18px;
  --f7-button-leni-height: 22px;
  --f7-block-title-white-space: normal;
  --f7-sheet-border-radius: 20px;
  --f7-sheet-bg-color: #F3FAFD;
  --f7-sheet-height: auto;
  --f7-list-inset-border-radius: 16px;
  --f7-toast-bg-color-rgb: 255,255,255;
  --f7-toast-text-color: #262626;
  --f7-toast-max-width: calc(100vw - 44px);
  --f7-toast-border-radius: 16px;
  --f7-toast-padding-vertical: 16px;
  --f7-toast-padding-bottom: 0px;
  --f7-list-inset-border-radius: 16px;
  --f7-list-inset-side-margin: 22px;
  --f7-list-outline-inset-border-color: #B7E2FA;
}

p{
  margin: 8px 0;
}


ul{
  padding: 0;
}

.disabled{
  --f7-theme-color: #D2EDFC;
  --f7-button-box-shadow: none !important;
  opacity: 1 !important;
}

.block-title{
  --f7-block-title-font-weight: 600;
  --f7-block-title-large-font-weight: 600;
  --f7-block-title-font-size: 20px;
  --f7-block-title-line-height: 24px;
  --f7-block-title-large-font-size: 30px;
  --f7-block-title-large-line-height: 36px;
  --f7-block-padding-horizontal: 22px;
  --f7-block-title-large-text-color: #262626;
  --f7-block-title-text-color: #262626;
}

.list{
  --f7-list-margin-vertical: 20px;
  padding: 8px 0;
}

.list .item-media{
  align-items: center;
}


.toggle{
  --f7-toggle-inactive-bg-color: #D2EDFC;
  --f7-toggle-inactive-border-color: #D2EDFC;
}

.block-title-without-navbar{
  margin-top: calc(12px + var(--f7-safe-area-top));
}

.auth-block-title{
  margin-top: calc(76px + var(--f7-safe-area-top));
  margin-bottom: 30px;
}




.block{
  --f7-block-padding-horizontal: 22px;
}

.auth-block{
  --f7-block-padding-horizontal: 37px;
}

.button{
  --f7-button-height: 50px;
  --f7-button-small-height: 50px;
  --f7-button-small-font-size: 16px;
  --f7-button-small-line-height: 19px;
  --f7-button-outline-border-color: var(--f7-theme-color)
}

.button-fill{
  --f7-button-box-shadow: 0px 12px 20px -10px rgba(55, 133, 237, 0.6);
}

.description{
  color: #50555C;
  --f7-font-size: 14px;
  --f7-line-height: 17px;
  font-weight: 400px;
}

.description.large{
  --f7-font-size: 16px;
  --f7-line-height: 22px;
}

input
  {
    --f7-input-font-size: 18px;
    --f7-input-line-height: 23px;
    --f7-input-font-weight: 500px;
    --f7-list-item-padding-horizontal: 0;
  }
  ::placeholder{
    --f7-text-color: #A5CFE7;
    color: var(--f7-text-color) !important;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    --f7-text-color: #A5CFE7;
    color: var(--f7-text-color) !important;
  }

.md .item-input:not(.item-input-outline) .item-content::before,
.md .item-input:not(.item-input-outline).item-content::before {
  display: none;
}
  
.md .item-input:not(.item-input-outline).item-content.item-input-focused::after {
  display: none;
}
  
  
.md .item-input .item-content,
.md .item-input.item-content {
  margin: 0;
  padding: 0;
  padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left));
}

.md .item-input:not(.item-input-outline) .item-content:after
, .md .item-input:not(.item-input-outline).item-content:after{
  display: none910;
}

.md .item-input:not(.item-input-outline) .item-content:after, 
.md .item-input:not(.item-input-outline).item-content:after{
  display: none;
}

.auth-input input{
  --f7-input-font-size: 26px;
  --f7-input-line-height: 31px;
  --f7-input-font-weight: 600px;
}

.auth-input-number input{
  width: 8em !important;
}

.auth-input-code{
  --f7-input-padding-left: calc(50% - 0.25em);
}


.divider{
  border-bottom: #B7E2FA 1px solid;
}

.auth-block .phone-number-start{
  font-size: 26px;
  line-height: 31px;
  margin: 0;
}

.danger{
  color: #ED3030 !important;
}

.danger-input{
  --f7-input-text-color: #ED3030;
}

.main-toolbar{
  --f7-tabbar-icons-height: calc(49px + var(--f7-safe-area-bottom));
  background-color: #fff !important;
}

i.icon{
  background-color: #898A8D;
  mask-repeat: no-repeat;
  mask-position: center;
}

.md .tabbar i.icon::before, .md .tabbar-icons i.icon::before {
  display: none;
}


.tab-link-active i.icon,i.icon-link.icon,.telegram i.icon,.whatsapp i.icon
{
    background-color: var(--f7-theme-color);
}

.list .item-link .item-inner:before{
  --f7-list-chevron-icon-color: var(--f7-theme-color);
}

.list .no-chevron{
  --f7-list-chevron-icon-font-size: 0;
}




.row-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.outlined{
  border: #B7E2FA 1px solid;
  border-radius: 16px;
}

.filled{
  background-color: var(--f7-bars-bg-color);
  border-radius: 16px;
}

.shadowed{
  box-shadow: 0px 4px 12px rgba(165, 207, 231, 0.4);
}

.long-text{
  margin-bottom:45px;
}

.large-text{
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}


.telegram,.telegram i.icon{
  --f7-theme-color: #3F79BC;
}

.whatsapp,.whatsapp i.icon{
  --f7-theme-color: #1BD741;
}


.sheet-backdrop{
  background: rgba(0, 0, 0, 0.5);;
}

.sheet-modal,.sheet-modal .sheet-modal-inner{
  overflow: visible;
}


.swipe-handler{
  display: flex;
  justify-content: center;
  align-content: center;
}

.swipe-handler::before{
  position: absolute;
  top: calc(-1*var(--f7-safe-area-bottom) - 11px);
  display: block;
  width: 45px;
  height: 4px;
  background-color: #fff;
  border-radius: 100px;
  content: '';
}


.toast{
  background-color: rgba(var(--f7-toast-bg-color-rgb), 1) !important;
  margin-left: 22px; 
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.2);
  border-radius: var(--f7-toast-border-radius);
  padding-bottom: 0 !important;
}

.md .toast{
  left:0
}

.ios .toast.toast-bottom{
  bottom: var(--f7-safe-area-bottom);
  padding-bottom: 0 !important;
}

.toast-content{
  padding-bottom: var(--f7-toast-padding-vertical) !important;
}

swiper-container{
  margin: 0 22px;
}


swiper-slide{
  width: 70% !important;
  height: 100px;
  border-radius: 16px;
}

.image{
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.float-right{
  float: right;
}